 
@import "tailwindcss";

 /* Custom styles for Inter font and general body styling */
        body {
            font-family: 'Georgia', serif;
            background-color: #b3a298; /* Dark background */
            color: #e2e8f0; /* Light text */
            display: flex;
            /*justify-content: center;*/
            align-items: top;
            min-height: 100vh;
            margin: 0;
            padding: 1rem; /* Add some padding for smaller screens */
            box-sizing: border-box; /* Include padding in element's total width and height */
        }

        /* Responsive adjustments for the game container */
        .game-container {
            width: 100%;
            max-width: 1200px; /* Max width for desktop */
        }
        .logbook {
            max-height: 200px
        }
        .tabBar {
            max-height: 60px
        }
        div.mycontainer div.tabBar {
            width: 100%;
        }

        /*Float to move boxes side by side */
        div.mycontainer {
            width:100%;
            overflow:auto;
        }
        div.mycontainer div {
            width:33%;  
            float:left;
        }

        /*Controls percentage of screen boxes appear*/
        .mycontainer {
              display: flex;
        }
        #resourceTab {
            flex-basis: 15%;
        }
        #gameBox {
            flex-basis: 70%;
        }
        #upgradeSection {
            flex-basis: 15%
        }

        .resourceDisplay {
            @apply text-[#9c7d69] text-xs md:text-3xl font-medium mb-3;
        }
        

        /* Custom scrollbar for better aesthetics */
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #9c7d69; /* Darker track */
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #c6b9ab; /* Lighter thumb */
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #e6d8c8; /* Even lighter on hover */
        }
